
#cv-form{
    height: 100vh;
    width: 100vw;
}

.design{
    height: 100vh;
    width: 100vw;
    /* background-image: url(../resume-build1.jpg); */
}

.design img{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;    
}

#title{
    text-align: center;
    align-items: center;
    justify-content: center;
    /* margin-top: 15vh; */
}

#title{
    position: relative;
    font-size: 13vw;
    color: transparent;
    -webkit-text-stroke: 0.3vw transparent;
    /* font-family: 'Merienda'; */
}

#title::before{
    margin-top: 15vh;
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    
    color: purple;
    -webkit-text-stroke: 0vw black;
    border-right: 2px solid purple;
    overflow: hidden;
    animation: animate 6s linear infinite;
}

@keyframes animate {
    0%, 10%, 100%{
        width: 0;
    }
    70%,90%{
        width: 100%;
    }
}

#cv-template{
    display: none;
    height: 100vh;
    width: 100vw;
}
.myimg{
    border-radius: 50%;
    width: 200px;
}
.background{
    background-color: #F6F7F1;
}